.counts{
    color:#9e3623 !important; font-family: 'Alegreya', serif; font-weight:bold;
}
.navbar-light .navbar-nav .nav-link {
    color: #9e3623 !important;
}
.navbar-light .navbar-brand {
    color: #9e3623 !important;
}
.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
    color:#556B2F !important;
}

 .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show > .nav-link {
    color: #6B8E23 !important;
 }


 @media only screen and (min-width: 1000px) {
    .content-wrap{
        margin-top: 9% !important;
    }
   
  }

  @media screen and (min-width : 700px) and (max-width : 999px) {
    .content-wrap{
        margin-top: 22% !important;
    }
}

 @media only screen and (max-width : 700px) {
    .content-wrap{
        margin-top: 32% !important;
    }
   
  }

 .home-bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    overflow-x: auto;
    word-wrap: break-word
}

.home-content{
    font-family: 'BioRhyme', serif !important;
}

.buttonless{
    background-color: beige  !important; 
    color:#9e3623 !important;
}
.buttonless-button{
    background-color: #9e3623  !important; 
    color:beige !important;
}

.content-writeup{
    background-color: beige  !important; 
    color:#9e3623 !important;
}

.content-white-writeup{
    color: beige  !important; 
    background-color:#9e3623 !important;
}

.card-counter{
    color: #9e3623  !important; 
    background-color:beige !important;
    border-top:2px #9e3623  solid !important;

}

.counter{
    font-size: 80px;
    font-weight: bold;
    font-stretch: extra-expanded;
}

.text-prima{
    color: #9e3623  !important; 
}

.text-sec{
    color: beige  !important; 
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link.about-link{
    background-color: beige  !important; 
    /* color:#9e3623 !important; */
}


/* .active.about-link{
    background-color: beige  !important; 
    color:#9e3623 !important;
} */

.content-card{
    border-bottom:2px #9e3623  solid !important;
}

.content-contact-card{
    border-top:2px #9e3623  solid !important;
}

.floating-icon{
    position: fixed; bottom: 0px; right: 0px;
}

/* Button used to open the chat form - fixed at the bottom of the page */
.open-button {
    background-color: #9e3623;
    color: beige;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 20px;
    right: 28px;
    width: 280px;
  }
  
  /* The popup chat - hidden by default */
  .chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
  }
  
  /* Add styles to the form container */
  .form-container {
    max-width: 300px;
    padding: 10px;
    background-color: white;
  }
  
  /* Full-width textarea */
  .form-container textarea {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f1f1f1;
    resize: none;
    min-height: 200px;
  }
  
  /* When the textarea gets focus, do something */
  .form-container textarea:focus {
    background-color: #ddd;
    outline: none;
  }
  
  /* Set a style for the submit/send button */
  .form-container .btn {
    background-color: #218838;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom:10px;
    opacity: 0.8;
  }
  
  /* Add a red background color to the cancel button */
  .form-container .cancel {
    background-color: #dc3545;
  }
  
  /* Add some hover effects to buttons */
  .form-container .btn:hover, .open-button:hover {
    opacity: 1;
  }

  .blinking{
    animation:blinkingText 2s infinite;
    }
    @keyframes blinkingText{
        0%{     color: #9e3623;    }
        49%{    color: #9e3623; }
        60%{    color: transparent; }
        99%{    color:transparent;  }
        100%{   color: #9e3623;    }
    }

.spinner-grow{
    width: 25rem !important;
}

